<div class="details editor">
<%= link_to t('resto.form.button.edit'), edit_job_path(job) %>
<%= link_to t('resto.form.button.delete'), job, :confirm => t('resto.messages.confirm'), :method => :delete %>
</div>
