<%= content_for :title, t('resto.heading.jobs.new') %>

<% semantic_form_for(@job) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit t('resto.form.button.post') %></p>
<% end %>

