<%= content_for :title, t('resto.heading.unauthorized') %>

<div class="error">
  <%= image_tag "error.png", :border => 0 %>
  <p class="message">
    <%= t('resto.messages.flash.unauthorized') %>
  </p>
</div>
