<%= content_for :title, "%s %s" % [t('resto.heading.new'),resource_class] %>

<% form_for(resource) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit t('resto.form.button.create') %></p>
<% end %>

