    <div id="editor_education" class="editor simple_overlay">

<% semantic_form_for(resume, :url => job_seeker_resume_path(job_seeker,resume), :html => { :class => "clean" }) do |form| %>
  <% form.inputs :name => t('resto.form.fieldset.education') do %>
    <%= form.input :education %>
    <%= form.input :institution %>
    <%= form.submit t('resto.form.button.change_education') %>
  <% end %>
<% end %>

    </div>
